body {
  background: gray;
  box-sizing: border-box;
  display: flex;
  font-family: 'Karla', sans-serif;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.game-container {
  display: flex;
  flex-direction: column;
  max-width: 2500px;
  width: 100%;
}

.sky-container {
  align-items: center;
  /* background: linear-gradient(#190807 60%, #37150A, #7A3C00); */
  background: black;
  box-sizing: border-box;
  justify-content: center;
  overflow: scroll;
}

.graticule {
  opacity: 0.4;
  stroke: green;
}

.stars {
  fill: #fff;
  stroke: #000;
}

.constellation-label {
  fill: orangered;
  font-family: 'Space Mono', monospace;
  stroke-width: .3px;
  stroke: black;
  text-shadow: 0 0 20px yellow;
  text-transform: lowercase;
}

.title {
  align-items: center;
  background: #7A3C00;
  display: flex;
  flex: 1;
  height: 100px;
  justify-content: flex-end;
  padding: 30px;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Bungee', sans-serif;
  text-shadow: 4px 4px 5px rgb(42, 38, 38)
}
