body {
  box-sizing: border-box;
  display: flex;
  font-family: 'Karla', sans-serif;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.game-container {
  display: flex;
  flex-direction: column;
  max-width: 2500px;
  width: 100%;
}

.sky-container {
  background: #050B18;
  box-sizing: border-box;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.graticule {
  opacity: 0.4;
  stroke: green;
}

.stars {
  fill: #fff;
  stroke: #000;
}

.constellation-label {
  fill: orangered;
  font-family: 'Space Mono', monospace;
  stroke-width: .3px;
  stroke: black;
  text-shadow: 0 0 20px yellow;
  text-transform: lowercase;
}

.dashboard-container {
  align-items: center;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  padding: 30px;
  position: absolute;
  width: 100%;
}

.stats {
  background: #4183c4;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  width: 300px;
  box-shadow: 4px 4px 5px rgb(42, 38, 38);
  text-shadow: 2px 2px 8px rgb(42, 38, 38);
}

.right {
  text-align: right;
}

h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Bungee', sans-serif;
  text-shadow: 4px 4px 5px rgb(42, 38, 38)
}
