body {
  background: gray;
  box-sizing: border-box;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
}

.sky-container {
  align-items: center;
  background: black;
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 10px;
}

.graticule {
  opacity: 0.4;
  stroke: green;
}

.stars {
  fill: #fff;
  stroke: #000;
}
